
<script type="text/javascript" language="javascript">
<!--
setTimeout("location.reload()",1000*300);
// -->
</script>
<h1>○○Lab</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>在室</th>
			<th>学内</th>
			<th>外出</th>
			<th>帰宅</th>
			<th>Message</th>
		</tr>
	</thead>

	<tbody>
		<% for var in @stats do %>
		<tr id = '<%= var[:member] %>'>
			<td><font size="4"><%= link_to var[:member] , registrations_index_path(var[:id]) %> </font></td>
			<td> <% if var[:location_category] == 0 %><i class="fa fa-user"></i>
			<br>
			<% end %> </td>
			<td><% if var[:location_category] == 2 || var[:location_category] == 3%><i class="fa fa-user"></i>
			<br>
			<%= var[:location] %> <% end %></td>
			<td><% if var[:location_category] == 4 %><i class="fa fa-user"></i>
			<br>
			<%= var[:location] %> <% end %></td>
			<td><% if var[:location_category] == 1 %><i class="fa fa-user"></i>
			<br>
			<% end %></td>

			<td> <% if !var[:message].nil? %>
			<button type="button" id = 'message' class="btn btn-default"  data-toggle="popover" data-trigger="hover"  data-content= "<%= var[:message] %>"  >
				<i class="fa fa-comment-o"></i>
				<% end%>
				<!--%= image_tag "/assets/icon.png", :size => '10x10' %-->

			</button>
			<script>
				$(function() {
					$('[data-toggle="popover"]').popover();
					$("[data-toggle=popover]").on('hover', function(e) {
						$("[data-toggle=popover]").not(this).popover('hide');
					});
				});
			</script> <% end %> </td>
	</tbody>
</table>
<p>
	更新：<%= DateTime.now.to_s(:db)%>
</p>
<style type="text/css">
tr{font-size: large}
</style>
