<link rel="stylesheet" href="./bootstrap.css">
<script src="./jquery.min.js"></script>
<script src="./bootstrap-modal.js"></script>
<script src="./bootstrap-transition.js"></script>
<%= stylesheet_link_tag    "index", :media => "all" %>
<h1><%= @name.name %>さん、今どこにいる？</h1>
<h3>現在、<%= @nloc.name %>に登録されています</h3>
<!--<p>Find me in app/views/registrations/index.html.erb</p>-->
<p>
	<div style = "display:inline-flex">
		<%= form_tag @zaishitsu, :method=> :put do%>
			<%= submit_tag "在室", :class=> "btn btn-default b1" ,:style=> "background: #cc3333" %>
		<% end %>
		<%= form_tag @gakunai, :method=> :put do%>
			<%= submit_tag "学内", :class=> "btn btn-default b1" ,:style=> "background: #ff9933" %>
		<% end %>
		<%= form_tag @gaishutsu, :method=> :put do%>
			<%= submit_tag "外出", :class=> "btn btn-default b1" ,:style=> "background: #669900" %>	
		<% end %>
		<%= form_tag @kitaku, :method=> :put do%>
			<%= submit_tag "帰宅", :class=> "btn btn-default b1" ,:style=> "background: #3366cc" %>
		<% end %>
	</div>
</p>
