<link rel="stylesheet" href="./bootstrap.css">
<script src="./jquery.min.js"></script>
<script src="./bootstrap-modal.js"></script>
<script src="./bootstrap-transition.js"></script>;
<script type ="text/javascript" src="./registrations.js"></script>
<%= stylesheet_link_tag    "index", :media => "all" %>
<h1><%= @name.name %>さん、今どこにいる？</h1>

<!--<p>Find me in app/views/registrations/index.html.erb</p>-->
<p>
	<!--<% colors = ["#cc3333", "#ff9933", "#669900", "#3366cc",'red', 'green', 'blue']%>
	<form id = 'form' name = 'form' action = "topviews_index_path">
		<% i = 0 %>
		<%= @locations.each do |location| %>
			<button type = 'submit' name="action" value = <%= location.id %> class="btn" style="width: 200px;height: 150px; font-size:1.8em; background: <%= colors[i]%>; color:white;"><%= location.name %></button>
			<% i = i + 1%>
		<% end %>
	</form>-->
	
	<%= @locations.each do |location| %>
		<input id = <%= location.id %> name =<%= location.name %> type = "radio" value = <%= location.name%> />
		<label for = <%= location.id %>><%= location.name%></label>
	<% end %>
</p>
