<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
	<dt><strong>開始日時</strong></dt>
	<dd><%= @schedule.event_start.strftime("%Y年%m月%d日 %H:%M") %></dd>
	<dt><strong>終了日時</strong></dt>
	<dd><%= @schedule.event_end.strftime("%Y年%m月%d日 %H:%M") %></dd>
	<dt><strong>繰り返し</strong></dt>
	<dd><% if @schedule.flag==0 %>なし
		<% elsif @schedule.flag==1%>毎週
		<% else %>毎月<% end %></dd>
	<dt><strong>場所</strong></dt>
	<dd><%= @schedule.venue %></dd>
</dl>

<%= link_to t('.edit', :default => t("helpers.links.edit")),
			edit_schedule_path, :class => 'btn btn-default' %>
<%= link_to t('.back', :default => t('helpers.links.back')),
			schedules_path, :class => 'btn btn-default' %>